.navigation-wrapper {
  /* Flex will put all first child containers into a flex box. not recursive */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navigation-wrapper > .links-wrapper {
  height: 100%;
  /* display: flex; */
}

.navigation-wrapper > .links-wrapper > .nav-link,
.navigation-wrapper > .search-icon-wrapper > .nav-link {
  display: inline-block;
  padding: 15px 10px;
  cursor: pointer;
}

.navigation-wrapper > .search-icon-wrapper > .nav-link {
  height: 100%;
  width: 30px;
  text-align: center;
}

/* .navigation-wrapper > .links-wrapper > .nav-link {

}

.navigation-wrapper > .search-icon-wrapper > .nav-link {

} */

.navigation-wrapper > div > div:hover {
  color: black;
  background-color: #ccc;
}
.navigation-wrapper > .search-icon-wrapper > .nav-link:hover {
  color: white;
  background-color: red;
}
