.skills-container {
  padding: 15px 0;
}
.skills-container > .skills-icon-wrapper {
  text-align: left;
  letter-spacing: 6px;
  padding-bottom: 10px;
}

.skills-container > .skill-progress-container {
  width: 100%;
  background-color: lightgray;
  color: white;
}

.skills-container > .skill-progress-container > .skill-progress-fill {
  background-color: blueviolet;
  text-align: center;
}
